body {
  background-color: #2222aa;
  color: #2222aa;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.border-style {
  border: 2px solid #2222aa;
  border-radius: 10px;
  background-color: lavender;
}
.border-style {
  border: 2px solid #2222aa;
  border-radius: 10px;
  background-color: lavender;
  height: 80%;
}
a {
  text-decoration: none;
  color: lavender;
}
a:hover {
  text-decoration: none;
  color: lavender;
}
